.smi-wrapper
  .smi-wrapper__title-line
    .smi-wrapper__title СМИ о нас
    a.smi-wrapper__link(href="#") Наши партнеры
  
  .smi-cards
    .smi-card
      .smi-card__img.smi-card__img_forbes
    .smi-card
      .smi-card__img.smi-card__img_commersant
    .smi-card
      .smi-card__img.smi-card__img_rbk
    .smi-card
      .smi-card__img.smi-card__img_vedomosti
    .smi-card
      .smi-card__img.smi-card__img_vcru
    .smi-card
      .smi-card__img.smi-card__img_republic