header 
  .header-wrapper
    include ../../blocks/logo/logo

    ul.nav#collapse
      li
        a.nav__link(href="#") Инвесторам
      li
        a.nav__link(href="#") Предпринимателям
      li
        a.nav__link(href="#") О платформе
      li
        a.nav__link(href="#") Новости
    
    +button({
        label: "Войти",
        icon: "fas fa-sign-in-alt",
        mods: "header"
    })

    button.nav-btn
      i.fas.fa-bars