@import "../../scss/main.scss";

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    width: fit-content;
    background-color: $green;
    font-weight: 500;
    color: $white;
    border-radius: 4px;
    text-decoration: none;

    i {
        margin-left: 10px;
    }

    &:hover,
    &:focus {
        background-color: #0cb680;
        transition: all .5s ease;
    }
}