mixin button(options)
  -
    if (typeof (options) === "undefined") {
        var options = {}
    }
    var allMods = "";
    if (typeof(options) !== "undefined" && options.mods) {
        var modList = mods.split(",");
        for (var i = 0; i < modList.length; i++) {
            allMods = allMods + " btn_" + modList[i].trim()
        }
    }

  a.btn(class= allMods)&attributes(attributes)= options.label
    if (options.icon !== undefined)
      i(class= options.icon)
