footer
  .footer
    a(href="#").footer-logo 
      img(src="/assets/images/footer-logo.svg", alt="")

    ul.footer-nav
      li.footer-nav__item 
        a.footer-nav__link(href="#") Инвесторам
      li.footer-nav__item 
        a.footer-nav__link(href="#") Предпринимателям
      li.footer-nav__item 
        a.footer-nav__link(href="#") Партнерам
    
    ul.footer-nav
      li.footer-nav__item 
        a.footer-nav__link(href="#") Документы
      li.footer-nav__item 
        a.footer-nav__link(href="#") О платформе
      li.footer-nav__item 
        a.footer-nav__link(href="#") Новости

    p.location Москва, территория инновационного центра «Сколково», ул. Нобеля, д. 5, эт/пом/раб 2/8/2

    +button({
        label: "Войти",
        icon: "fas fa-sign-in-alt",
        mods: "footer"
    })

    .copyright-col
      p © 2018 —2021 Все права защищены
      p ООО «ДжетЛэнд», официальный сайт
      p Лицензия ЦБ РФ №18

      .banner-icon
        img.banner-icon__img(src="/assets/images/bank.svg", alt="Bank RF")
        img.banner-icon__img(src="/assets/images/sk.svg", alt="SK")