// Fonts
$materialIcons    : "Material Icons", sans-serif;
$awesome          : "Awesome", sans-serif;


// Colors
$black       : #000000;
$white       : #ffffff;
$green       : #0ED193;
$turq        : #01A0BF;
$light-gray  : #E4ECEE;