<!DOCTYPE html>
include ../pug/mixins
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test page
        script(src="https://kit.fontawesome.com/826f29b127.js")
    body
      include ../includes/header/header
      