.advantages.container
  h2.advantages__h2 Преимущества оборотного кредита в JetLend
  
  .row.row_col-1200
    .card
      h3.card__title Решение за 10 секунд
      p.card__text Просто загрузите два документы и мы оценим ваш бизнес почти моментально
    .card
      h3.card__title Всё онлайн
      p.card__text Без поездок в офис - оформите кредит в личном кабинете
    .card
      h3.card__title Без залога
      p.card__text Одобряем кредит для бизнеса на основании оборотов по расчетным счетам