.getcredit.background.container
  h2.getcredit__h2 Как получить оборотный кредит

  .roadmap
    .roadmap__column
      .roadmap__point.roadmap__point_active 1
      .roadmap__text Пройдите регистрацию
    .roadmap__column
      .roadmap__point.roadmap__point_lines 2
      .roadmap__text Получите предварительное решение
    .roadmap__column
      .roadmap__point 3
      .roadmap__text Пройдите верификацию и получите деньги